body{
    background: #4cbbe7;
}
.contenedor{
    align-items: center;
    flex-direction: column;
    border: solid;
    display: flex;
    height: 400px;
    gap:30px;
    justify-content: space-around;

}
.contenedor2{
   display: flex;
   justify-content: space-between;
   height: 110px;
}
/*.contenedor div{
    border: solid;
    height: 150px;
    width: 150px; 
}*/
.parte1{
    border: solid;
    background: orange;
    
    
}
.parte2{
  background-color: green;
  justify-content: space-between;
  width: 90%;
  height: 80px;
  border: 5px solid black;
}
.parte3{
    border: solid;
    background: blue;
    
}